[submodule "bgfx"]
	path = bgfx
	url = https://github.com/EkajArmstro/bgfx
[submodule "bx"]
	path = bx
	url = https://github.com/EkajArmstro/bx
[submodule "bimg"]
	path = bimg
	url = https://github.com/EkajArmstro/bimg
